#!/bin/bash
<%
## Check some resources and set sane defaults
resources$walltime = assertString(resources$walltime)
resources$queue = assertString(resources$queue)
resources$memory = asInt(resources$memory, lower = 1L, upper = 64L)
resources$ncpus = if (is.null(resources$ncpus)) 1L else asInt(resources$ncpus, lower = 1L)

## first string of queue, selected by walltime
queue = resources$queue

log.file = resources$log.file
-%>

#PBS -N <%= job.name %>
#PBS -l walltime=<%= resources$walltime %>,nodes=1:ppn=<%= resources$ncpus %><%= if (!is.null(resources$type)) paste0(":", resources$type) %>
#PBS -l mem=<%= resources$memory %>gb
#PBS -q <%= queue %>
#PBS -o $HOME/logs/
#PBS -j oe
#PBS -m n
#PBS -d .


## export value of DEBUGME environemnt var to slave
export DEBUGME=<%= Sys.getenv("DEBUGME") %>

## run R
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'

